.one{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient( 109.6deg,  rgba(15,2,2,1) 11.2%, rgba(36,163,190,1) 91.1% );
    background-size: cover;
    background-position: center;

}
nav{
    display: flex;
    align-items: center;
    font-family: monospace;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color: #2196F3;    
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: #2196F3;
    transition: .4s;
}
.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    font-family: monospace;
}
h1{
     color: #2196F3;
     margin: 20px 0px 10px;
     font-size: 75px;
}
h2{
    color: white;
     margin: 20px 0px 10px;
     font-size: 45px;
}
.two form{
    width: 380px;
    max-width: 100%;
    position: relative;
}
.two form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid darkblue;
    outline: none;
    border-radius: 20px;
}
.two form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
    color: white;
    background-color: darkblue;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 6px;
    right: 6px;

}
.three{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}
.three img{
    height: auto;
    width: 430px;
}
.three-text{
    width: 550px;
}
.about{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.three-text h2{
    color: white;
    font-family: fantasy;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient( 179.4deg,  rgba(33,150,243,1) 1.8%, rgba(22,255,245,0.60) 97.1% );

}
.three-text h4{
    color: white;
    font-size: 22px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-bottom: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.three-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    font-family: 'Courier New', Courier, monospace;
}
.service{
    background: #101010;
    width: 100%;
    padding: 100px 0px;
}
.title h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
    font-family: fantasy;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient( 109.6deg,  rgba(44,83,131,1) 18.9%, rgba(95,175,201,1) 91.1% );
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;

}
.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #f9004d;


}
h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
    font-family: monospace;
}
.pra p{
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
    font-family: 'Courier New', Courier, monospace;
}
.card .button{
    background-color: darkblue;
    color: white ;
    text-decoration: none;
    border:2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
    font-family: monospace  ;
}
.card .button:hover{
    background-color: transparent;
    border: 2px solid darkblue;
    cursor: pointer;

}
.contactme{
    width: 100%;
    height: 290px;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.contactme P{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
    font-family: monospace;
}
.contactme .button-two{
    background-color: darkblue;
    color: white ;
    text-decoration: none;
    font-size: 20px;
    border:2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
    font-family: monospace;
    margin-bottom: 15px;

}
.contactme .button-two:hover{
    background-color: transparent;
    border: 2px solid darkblue;
    cursor: pointer;
}
.contactme .buttont{
    background-color: darkblue;
    color: white ;
    text-decoration: none;
    font-size: 20px;
    border:2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
    font-family: monospace;
    margin-bottom: 15px;

}
.contactme .buttont:hover{
    background-color: transparent;
    border: 2px solid darkblue;
    cursor: pointer;
}
.contactme .buttonf{
    background-color: darkblue;
    color: white ;
    text-decoration: none;
    font-size: 20px;
    border:2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
    font-family: monospace;
    margin-bottom: 15px;

}
.contactme .buttonf:hover{
    background-color: transparent;
    border: 2px solid darkblue;
    cursor: pointer;
}